@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
#map_canvas {
    height: 44vw;
    width: 100%;
}
.search-result-list {
    width: 45%;
    margin-right: 5%;
    margin-top: 8px;
}

.resultContainer {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
}
.search-result-list ul{
  height: 560px;
  /*overflow-y: scroll;*/
  /*display: none;*/
}
.resultContainer li{
  padding: 10px 10px 10px 10px;
  box-shadow: 3px 4px 5px 0px rgba(190, 190, 190, 0.75);
}
.resultContainer li:hover{
  box-shadow: 2px 3px 5px 0px rgba(190, 190, 190, 0.75);
}
.search-result-map {
    width: 45%;
    margin-top: 30px;
}
.searchContainer {
    text-align: center;
    /*margin-bottom: 30px;*/
}

.search {
    padding: 10px;
    font-size: 13px;
    width: 30%;
}

.search:focus{
    border: 1px solid yellow;
}
.sButton {
    padding: 10px;
  	background-color:#E4B15B;
  	color:#591D1C;
  	font-size:15px;
  	padding:10px 20px;
  	text-decoration:none;
}
.sButton:focus {
    outline: none;
}

.search-result-list ul {
    list-style: none;
    padding: 10px;
}
.search-result-list ul li:nth-child(2n) {
  background-color: #E6E6DC;
  color: black;
}
.search-result-list ul li:nth-child(2n+1) {

  color: #591D1C;
}
.resultContainer a{
  text-decoration: none;
}
.hotelTitle a{
  color: #5499BF;

}
ul li{
  margin-bottom: 20px;
}
.description{
  color: #000;
}
.infoWindowContent{
  display: block;
  font-size: 12px;
  text-transform: capitalize;
}
.contentHeading{
  display: block;
  font-size: 16px;
  text-transform: capitalize;
}
.info{
  width: 200px;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.error {
    color: red;
    font-size: 20px;
    text-align: center;
}
.description{
  font-size: 14px;
}
.header{
  font-size: 3em;
  color: red;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  background-color: #E6E2AF;
  padding: 20px 0px;
  width: 100%;
}
.resBody{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}
.menu-info{
  width: 80%;

}
.review{
  width: 20%;

}
.switch-header{
  width: 100%;

}
.switch-header ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 0px;
  padding: 0;
}
.switch-header ul li{
  width: 49%;
  padding: 20px 0px;
  background-color: #EAE8E3;
  text-align: center;
}
.switch-header ul li:first-child{
  margin-right: 2%;
}
.switch-header ul li:hover {
  cursor: pointer;
}
.switch-menu{
  width: 100%;
}
.switch-info{
  width: 100%;
}
