<div class="checkoutPage">
  <div class="restaurantName">{{info.data.title}}</div>
  <div class="backButton">
    <a href="/result">Back to resturant</a>
  </div>
  <div class="orderSummary">
    <h2>Your Order Summary</h2>
    <div class="order">
      <ul>
        <li ng-repeat="order in info.review">
          <div class="delete_row" ng-click="deleteRow($index)"></div>
          <div class="orderItem">{{order.item}}</div>
          <div class="orderCount">
            <input type="number" ng-model="order.count" min=0 max=20 style="width: 30px;" ng-change="change($index, order.count, $event)">
          </div>
          <div class="orderTotal">{{order.total}}</div>
        </li>
      </ul>
    </div>
    <div class="totalAmount">Subtotal:<span class="amount">{{info.total}}</span></div>
  </div>
  <div class="payment">
    <div class="styled-select">
      Select your payment option :
      <select>
        <option>Cash on Delivery</option>
        <option>Online pay</option>
      </select>
    </div>
  </div>
  <div class="finishButton">
    <button type="button" class="finish" ng-click="success()" ng-disabled="isDisabled">Place your order</button>
  </div>
</div>
