    <div class="searchContainer">
        <input type="text" class="search" ng-model="searchModel" placeholder="eg: sample restaurant">
        <input type="button" class="sButton" value="Search" ng-click="submit(searchModel)">
    </div>
    <div class="error">{{errorMsg}}</div>
    <div class="resultContainer">
        <div class="search-result-list">
            <ul>
                <li ng-repeat="data in resultList">
                    <h2 class="hotelTitle"><a ng-click="nextScreen(data)">{{data.title}}</a></h2>
                    <p class="description">
                      {{data.desc}}
                    </p>
                    <p>
                    {{data.phoneNo}}
                    </p>
                </li>
            </ul>
        </div>
        <div class="search-result-map">
            <div id="map_canvas"></div>
        </div>
    </div>
