@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
#map_canvas {
  height: 66vh;
  width: 100%;
}
ul {
  list-style: none;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  /*overflow: hidden;*/
}
.mainHeading {
  background-color: #b56969;
  text-align: left;
  padding: 1.5vh;
  height: 70px;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-weight: lighter;
}
.mainHeading h1 {
  font-family: 'Montserrat', sans-serif;
  color: #16193B;
  text-shadow: 13px 10px 11px;
  margin: 0;
  width: 20%;
  line-height: 2.5;
}
.search-result-list {
  width: 40%;
  margin-right: 5%;
  /*margn-top: 8px;*/
}
.resultContainer {
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  height: 71vh;
}
.search-result-list ul {
  height: 63vh;
  /*overflow-y: scroll;*/
  /*display: none;*/
}
.resultContainer .search-result-list li {
  border: 1px solid #B6E7DA;
  padding: 10px 10px 10px 10px;
  box-shadow: 3px 4px 5px 0px rgba(190, 190, 190, 0.75);
}
.resultContainer .search-result-list li:hover {
  box-shadow: 2px 3px 5px 0px rgba(190, 190, 190, 0.75);
}
.search-result-map {
  width: 40%;
  margin-top: 18px;
}
.searchContainer {
  text-align: center;
  /*margin-bottom: 30px;*/
  padding-top: 10px;
}
.search {
  padding: 10px;
  font-size: 13px;
  width: 30%;
  outline: none;
}
.search:active {
  border: 1px solid #e6cf8b;
  outline: none;
}
.sButton {
  display: inline-block;
  font-family: fantasy;
  background-color: #B56969;
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  text-decoration: none;
}
.sButton:focus {
  outline: none;
}
.search-result-list ul {
  list-style: none;
  padding: 10px;
}
.search-result-list ul li:nth-child(2n) {
  border: 1px solid #EBD1D1;
  background-color: #E6E6DC;
  color: black;
}
.search-result-list ul li:nth-child(2n+1) {
  color: #591D1C;
}
.resultContainer a {
  text-decoration: none;
}
.hotelTitle a {
  color: #5499BF;
  cursor: pointer;
}
.hotelTitle {
  padding: 0;
}
ul li {
  margin-bottom: 20px;
  background-size: 100%;
  color: #000;
}
.infoWindowContent {
  display: block;
  font-size: 12px;
  text-transform: capitalize;
}
.contentHeading {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
}
.info {
  width: 200px;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.error {
  color: red;
  margin-top: 2%;
  font-size: 30px;
  text-align: center;
  display: none;
}
.description {
  font-size: 14px;
}
.header {
  font-size: 1.2em;
  color: #292929;
  margin-left: 0;
  margin-right: 0;
  padding: 20px 0px 0px 10px;
  width: 100%;
}
.container {
  height: 77.5vh;
  padding-left: 12vw;
  padding-right: 12vw;
}
.resBody {
  width: 100%;
  display: flex;
  flex-direction: row;
  /*margin-top: 2%;*/
}
.menu-info {
  width: 70%;
}
.review {
  width: 30%;
  height: 60vh;
  padding-left: 2vh;
  background-image: url("../images/Translucent_50_percent_white.png");
}
.review ul {
  height: 200px;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 5px;
  font-size: 12px;
}
.review ul li .itemCount {
  padding: 2px 4px 2px 4px;
  border: 1px solid black;
}
.review ul li .itemTotal {
  text-align: right;
  margin-right: 10px;
}
.review ul li .itemName {
  margin-left: 10px;
}
.subTotalContainer {
  font-size: 13px;
}
.review .subTotalContainer .subText {
  width: 50%;
  text-align: left;
  display: inline;
}
.review .subTotalContainer .subValue, .review .totalContainer .totalValue {
  width: 70%;
  text-align: right;
  display: inline-block;
}
.switch-header {
  width: 100%;
}
.review .subTotalContainer, .review .checkoutButtonContainer, .review .totalContainer {
  position: relative;
  top: 25%;
}
.switch-header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 0px;
  padding: 0;
  font-size: 12px;
}
.switch-header ul li {
  width: 47%;
  padding: 20px 0px;
  text-align: center;
  background-color: #fccdd3;
  background-repeat: no-repeat;
}
.switch-header ul li:first-child {
  margin-right: 2vh;
  background-image: url('../images/menu.png');
  background-size: 35px 35px;
  background-position: 87px 10px;
}
.switch-header ul li:nth-child(2) {
  background-image: url('../images/images.png');
  background-size: 20px;
  background-position: 96px 17px;
}
.switch-header ul li:hover {
  cursor: pointer;
}
.switch-menu {
  width: 100%;
  height: 400px;
}
.switch-menu ul.itemList {
  list-style: none;
  height: 82%;
  width: 91%;
  font-size: 12px;
}
.switch-menu .itemList {
  overflow-y: scroll;
}
.switch-info {
  width: 100%;
}
.rinfo {
  width: 100%;
}
.rinfo h3 {
  font-size: 0.8em;
}
.switch-info h2 {
  font-weight: normal;
  font-size: 1.1em;
}
.address {
  padding: 20px;
  width: 50%;
  border-bottom: 1px solid #B5B9D8;
}
.address p {
  word-break: break-all;
  font-size: small;
}
.work {
  padding: 20px;
  border-bottom: 1px solid #B5B9D8;
  width: 50%;
}
.home {
  padding: 0% 0%;
}
.homepage {
  background-image: url('../images/337094-zero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 77.5vh;
}
footer {
  width: 100%;
  background-color: #22264b;
  color: #8D9096;
  padding: 4.2vh 0%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
html, body {
  height: 100%
}
.menu_items {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.menu_items li {
  width: 25%;
  text-align: center;
  font-size: 13px;
}
.menu_items li img {
  cursor: pointer;
}
.menu_head {
  font-size: 14px;
  font-weight: bold;
}
.switch-info h2 {
  padding-left: 2%;
}
.orderSummary ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 115px;
  overflow-y: scroll;
}
.orderSummary ul li div {
  display: inline-block;
  width: 30%;
  text-align: center;
}
.restaurantName {
  text-align: center;
  background-color: #e8edf3;
  padding: 2vh 0px;
  font-size: 1.2em;
}
.orderSummary {
  width: 75%;
  margin-top: 25px;
}
.orderSummary h2 {
  font-size: 1em;
  width: 75%;
  z-index: 1;
  left: 0;
  border: 1px solid #b9d9cd;
  border-right: 0;
  border-left: 0;
  padding: 20px 30px 20px 30px;
  font-weight: 200;
}
.order {
  padding: 2%;
}
.order ul li {
  width: 100%;
  font-size: small;
}
.checkoutButton {
  width: 91%;
  padding: 5px;
  font-size: 18px;
  outline: none;
  border: 0;
  margin-top: 6px;
  background-color: #B56969;
  color: #03080B;
}
.review .remove {
  width: 10px;
  height: 10px;
  background-image: url('../images/remove-icon-md.png');
  background-size: 10px 10px;
  background-repeat: no-repeat;
  display: inline-block;
  float: right;
}
.totalAmount {
  width: 100%;
  text-align: right;
  font-size: 15px;
}
.totalAmount .amount {
  margin-left: 5%;
  margin-right: 20%;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 9px;
}
.menu li {
  display: inline-block;
  margin: 0;
  margin-top: 19px;
}
.menu li a:active {
  box-shadow: none;
}
.menu li a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgba(190, 190, 190, 0.75);
  margin-right: 5px;
  font-size: 10px;
}
.navigation_menu {
  width: 70%;
  text-align: left;
}
.active {
  background-color: #CE7E88 !important;
}
.home .error {
  font-size: 14px;
}
.about {
  margin: 0;
  margin-top: 3%;
  text-align: center;
  font-size: 26px;
  color: #22264B;
}
.checkoutButton:disabled {
  cursor: not-allowed;
}
.payment {
  padding: 5vh;
  margin-right: 7%;
  text-align: center;
  font-size: 14px;
}
.finishButton {
  margin: 0 auto;
  text-align: center;
}
.finish {
  background-color: #B56969;
  padding: 1%;
  color: black;
  width: 15%;
}
.finish:disabled {
  cursor: not-allowed;
}
.styled-select select {
  width: 15%;
}
.delete_row {
  width: 10px !important;
  height: 10px;
  background-image: url('../images/remove-icon-md.png');
  background-size: 10px 10px;
  background-repeat: no-repeat;
}
.header-wrap {
  display: flex;
  flex-direction: row;
}
.randomBox {
  margin-top: 2vh;
  height: 61px;
  width: 61px;
  background-color: red;
}
.randomBox p {
  font-size: 8px;
  text-align: center;
  line-height: 5em;
  color: white;
  /* Safari */
  -webkit-transform: rotate(-45deg);
  /* Firefox */
  -moz-transform: rotate(-45deg);
  /* IE */
  -ms-transform: rotate(-45deg);
  /* Opera */
  -o-transform: rotate(-60deg);
}
.checkoutPage {
  height: 77.5vh;
}
.backButton {
  padding-left: 3vh;
  background: url('../images/arrow.png') no-repeat;
  background-size: 20px 20px;
  background-position: 0px 0px;
}
.backButton a {
  text-decoration: none;
  color: brown;
}
.backButton a:hover {
  color: brown;
  text-decoration: underline;
}
.success {
  font-size: 17px;
  color: cornflowerblue;
  line-height: 20;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
.mainContainer {
  padding-left: 15vh;
  padding-right: 15vh;
}
.filterContents {
  width: 20%;
}
.filterTitle {
  margin-top: 40px;
  font-size: 16px;
  margin-left: 10px;
  color: #000;
}
.filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.filter_item {
  font-size: 12px;
  transition: 0.01s linear height;
}
.filter_item li {
  padding: 1vh 0 1vh 0;
  margin: 0;
  color: #666;
}
.food {
  height: 20vh;
  padding-top: 20vh;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  width: 100%;
}
.food_icon {
  background-image: url('../images/food_icon.png');
  background-size: 4% 80%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 10vh;
  width: 100%;
}
.food_title {
  font-size: 1.5em;
  color: chocolate;
  text-transform: capitalize;
}
.food_title p {
  font-size: 12px;
  color: orange;
}
.cuisines {
  font-size: 10px;
  color: #8D9096;
}
