<div ng-controller="homeController">
    <div class="searchContainer">
        <input type="text" class="search" ng-model="searchModel" placeholder="eg: sample restaurant">
        <input type="button" class="button" value="Search" ng-click="submit(searchModel)">
    </div>
    <div class="resultContainer">
        <div class="search-result-list">
            <ul>

            </ul>
        </div>
        <div class="search-result-map">
            <div>
                <div id="map_canvas"></div>
            </div>
        </div>
    </div>
</div>
