<div ng-controller="homeController">
    <div class="searchContainer">
        <input type="text" ng-model="searchModel" placeholder="eg: sample restaurant">
        <input type="button" value="Search" ng-click="submit(searchModel)">
    </div>
    <div class="resultContainer">
        <div class="search-result-list">
            <ul>
                <li ng-repeat="data in resultList">
                    <!-- {{data.title}}
                    {{data.desc}}
                    {{data.phoneNo}} -->
                </li>
            </ul>
        </div>
        <div class="search-result-map">
            <div id="map_canvas"></div>
        </div>
    </div>
</div>
